.advert-container{
    /* background-color: yellow; */
    margin: 3rem 5rem;
    height: 25vh;
    align-items: center;
    
}
.line-advert{
    border: solid var(--color-bg-dark-6) 0.5px;
    margin: 1rem 0rem;
    margin: 1rem 5rem;
}
.advert__grid{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}
.advert__1 .image__1 img{
    width:100% ;
    height: 12rem;
}
.advert__2 .image__2 img{
    width:100% ;
    height: 12rem;
}
.advert__3 .image__3 img{
    width:100% ;
    height: 12rem;
}
img:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}