.advertisement{
    margin: 1rem 5rem;
    height: auto;
    align-items: center;
    height: 5rem;    
}
.advertisement-container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 2rem;
}
.advertisement-container-I{
    width: 65%;
}

.container-section-I{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.advert__1, .advert__2, .advert__3{
    margin: 0.1rem;
}
img{
    transition: box-shadow .3s;
    height: 25vh;
    width: 100%;
    gap: 1rem;
}
img:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.container-sub-section-I{
    margin-top: 2rem;
}
.sub-line{
    border: solid var(--color-bg-dark-6) 0.5px;
    width: 21%;
}
.trending-news-section{
    /* border: solid var(--color-bg-dark-6) 1px; */
    margin: 2rem 0rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 43vh;

}
.advertisement-container-II{
    width: 35%;
}

.container-section-II{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: solid var(--color-bg-dark-6) 1px;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */

}
.advert__4{
    width: 100%;
    padding: 1.2rem;
}
.vertical__advert{
    /* border: solid var(--color-bg-dark-6) 2px; */
    padding: 0.1rem;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
}
.vertical__image img{
    height: 75vh;
    padding: 0.3rem;
}
/* Adding css */
/* @import url("https://cdn.syncfusion.com/ej2/20.1.48/bootstrap5.css") */